RewriteEngine On

# Redirige toutes les requêtes vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "\.(env|json|log|md|gitignore|sh|yml|lock|htaccess|config)$">
    Require all denied
</FilesMatch>
