RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?url=$1 [QSA,L]
RewriteRule ^reset_password/([^/]+)$ index.php?route=reset_password&token=$1 [L]
<Files ".env">
    Require all denied
</Files>

