
             /*  css for connexion page start */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{  
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#connexion .h1 {
    color:#198754;
    text-decoration: none;
}

.back a{
    color: #198754;
    text-decoration: none;
}
.back a:hover{
    color: #FFBF00   ;
}

.conx{
    font-size: 3rem;
    letter-spacing: 1px;
    color: #FFBF00   ;
    text-align: center;
}

#connexion img{
    object-fit: cover;
    object-position: left;

}
                 /* css fon connexion page end  */

                  /* css for forgot_password start */

.page-wrap {
    min-height: 100vh;
}
.container {
    max-width: 900px;
}

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    color: red;
    font-size: 0.875em;
}

