body{
    background-image: url(../../images/Héron\ Cendré.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-danger {
    display: block;      
    font-size: 0.875rem;  
    margin-top: 0.25rem; 
}















