
.cover img{
    /* background-image: url(../../images/service/girafe-eat.jpg); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.ser{
    background-color: #3d5141;
}

.title-text{
    margin-bottom: 3rem;
}









